# Compiled object files
*.o
*.obj
*.lo
*.la
*.al

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.ilk
*.pdb
*.dSYM/

# Visual Studio Code
.vscode/

# Windows files
Thumbs.db
Desktop.ini

# Build directories
build/
Debug/
Release/

# Mac files
.DS_Store

# Temporary files
*~
*.tmp
*.log

# OneDrive temporary files
~$*

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# JetBrains
.idea/
*.iml
